body {
	font-family: "Lucida Console", Courier, monospace;
	text-align: center;
}

h1 {
	font-family: "Lucida Console", Courier, monospace;
	font-style: oblique;
	text-align: center;
}

h2 {
	font-family: "Lucida Console", Courier, monospace;
	font-style: oblique;
	text-align: center;
}

/* tbody {
	font-family: "Lucida Console", Courier, monospace;
	font-style: oblique;
	text-align: center;
} */

.footer {
	font-family: "Lucida Console", Courier, monospace;
	width: 100%;
	/* height: 2px; */
	position: absolute;
	bottom: 0;
	left: 0;
}

/* footer {
	font-family: "Lucida Console", Courier, monospace;
	font-style: normal;
	text-align: start;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
} */

.column {
	float: left;
	width: 50%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1350px) {
	.column {
		width: 100%;
	}
}

img {
	max-width: 90vw;
	max-height: 80vh;
}